#draw-canvas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#dropzone {
    width: 100%;
    height: 100%;
}

#drag-n-drop {
    z-index: 0;
}

#editor {
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 0%;
    margin-right: 0%;
}

textarea.code-editor {
    background-color: gray;
    color: #fff;
    resize: none;
    width: 100%;
    height: 100%;
}
